name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev python3-dev libssl-dev openjdk-17-jdk
          pip install --upgrade pip
          pip install "buildozer>=1.5.0" cython kivy

      - name: Build APK
        run: |
          # أمر واحد بسيط للبناء مباشرة
          yes | buildozer -v android debug
